<!DOCTYPE html>
<html lang="pl-PL">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="./assets/styles/main.css">
    <title>Muzyczny bocik :D</title>
    <script>
        const serverPort = <%= appPort %>;
        const socketPort = <%= socketPort %>;
    </script>
</head>
<body>
    <!-- Zrobić jakiegoś cusia xDD-->
    <script src="./assets/scripts/textToSpeech.js"></script>
    <script src="./assets/scripts/annyang.js"></script>
    <script src="./assets/scripts/socket.io.js"></script>
    <script src="./assets/scripts/main.js"></script>
</body>
</html>